* {
    display: block;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
}
.search {
    font-weight: 700;
    width: 200px;
    border-radius: 20px;
    color: cadetblue;
    border: 2px solid cadetblue;
    background-color: white;
}
.plus {
    width: 40px;
    background-color: rgb(173, 238, 241);
    color:white;
    border-radius: 50%;
    border: none;
}
.account {
    width: 250px;
    background-color:rgb(42, 51, 177);
    color:white ;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}