h1{
    color:white;background-color: black;
    
}
h1 span{
    color: cyan;
}
  
h2{color: aliceblue;
     background-color:
      blueviolet;text-align:
       center;text-decoration: solid;
       font-style: italic;
}
h3{

    color: rgb(37, 37, 144)
    ;background-color:
     rgb(73, 194, 198);
      text-align: right
      ;text-decoration: underline;
}