* {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* display flex work only for parent */
/* must be 3 parents for each 3 boxes */
.container { 
    width: 800px;
    margin: 0 auto;
    background-color:rgb(234,243,255); 
    padding: 20px;
    text-align: center;
    border-top: black solid 5px  ;
}
.githubtitre {
    color:rgb(72,72,85);
    margin-top: 0px;
    margin-bottom: 10px;
}
/* that's for select all images */
img.octocat {   
    height: 200px;
}
.partblue {
    display: flex;
    margin: 0 auto;
    padding:20px;
    background-color:rgb(95,203,206);
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.partpink {
    display: flex;
    flex-direction: row;
    background-color: rgb(212,165,170);
    padding:20px;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.partwhite {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
}
a{
    color: rgb(174,215,217);
}