*{
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    width: 1010px;
    flex-direction: row;
}
/* flex must be in child alawys and display flex in parent */
.col, .col-2, .col-3 {
    margin: 10px;
    padding: 10px;
    background-color:rgb(101,157,161);
    flex: 1;
    flex-direction:row;
    justify-content:center
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
} 